.banner{
    background-color: peachpuff;
    height:150px;
    margin-bottom:30px;
}
.banner-text{
    top:10%;left:50%;position:absolute;
    transform:transform;
    color:tomato;
}
.container{
background-color:silver;
}